.btn-block {
  width: 100%;
}

.home-container {
  background-image: url('../img/bg.png');
  height: 100vh;
  margin-bottom: 0;
}

.home-container .content {
  padding: 20px;
}

.board-item-title {
  font-size: 18px;
}

.board-item-subtitle {
  font-size: 14px;
}

.board-add {
  text-align: center;
  width: 100%;
  font-size: 2em;
}

.board-add > i {
  display: block;
}

.board-add > span {
  margin-top: 12px;
  display: block;
}

.board-add:hover {
  cursor: pointer;
}

.board-item-reveal {
  overflow-y: hidden !important;
  padding: 4px 14px !important;
}

.board-item-reveal .actions {
  margin-top: 30px;
}

.board-item-reveal .actions span {
  width: 48%;
  display: inline-block;
}

.board-item-reveal .actions span:hover {
  cursor: pointer;
}

.board-item-reveal .card-title {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding-right: 6px;
}

.board-item-reveal .card-title i {
  font-size: 20px;
  line-height: 0px;
}

.activator {
  cursor: pointer;
}